@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Russo+One&display=swap");
@import url("./nord.css");

html,
body {
  padding: 1.5em;
  margin: 0;
  background-color: var(--nord0);
  color: var(--nord6);
  font-family: "Fira Code", Monaco, Consolas, "Ubuntu Mono", monospace;
}

a,
a:visited {
  color: var(--nord8);
}

.text-red {
  color: var(--red);
}

.text-orange {
  color: var(--orange);
}

.text-yellow {
  color: var(--yellow);
}

.text-green {
  color: var(--green);
}

.text-pink {
  color: var(--pink);
}
